{% extends 'base.html' %}

{% block title %}Adoption Agency{% endblock %}

{% block content %}

<h1>Pets</h1>
<section class="pets">
    <div class="container">
        <div class="row">
            {% for pet in pets %}
            <div class="col-md-4 text-center">
                <img src="{{pet.photo_url}}" alt="pet-image" class="resize-image">
                {% if (pet.available) %}
                <p><a href="{{pet.id}}">{{pet.name}}</a><b> is available!</b></p>
                {% else %}
                <p>{{pet.name}}</p>    
                {% endif %}
            </div>
            {% endfor %}  
        </div>
    </div>
</section>
<a href="/add" class="btn btn-info"> Add a Pet</a>

{% endblock %}