/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
#jeopardy {
	text-align: center;
	font-size: 9pt;
	background-color: #060ce9;
	color: white;
	border-collapse: collapse;
}
table {
	text-indent: initial;
	border-spacing: 2px;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
td {
	border: solid 1px white;
	width: 12em;
	height: 9em;
	padding: 1em;
}
th {
	border: solid 1px white;
	width: 12em;
	padding: 1em;
}
