{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" 
                id="title" 
                class="form-control" 
                name="title" 
                placeholder="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea
                id="content" 
                class="form-control" 
                name="content" 
                rows="3"
                placeholder="{{post.content}}">
            </textarea>
        </div>
        <div class="mb-3">
            {% for tag in tags %}
                {% if tag in post.tags %}
                    <input type="checkbox" name="check" value="{{tag.id}}" checked>
                    <label for="check">{{tag.name}}</label>
                    <br>
                {% else %}
                    <input type="checkbox" name="check" value="{{tag.id}}">
                    <label for="check">{{tag.name}}</label>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/" type="button" class="btn btn-outline-primary btn-sm">Cancel</a>
            <button class="btn btn-success btn-sm">Edit</button>
        </div>
    </form>
{% endblock %}